// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import * as errors from "../../../../errors/index.js";
import * as Scout from "../../../index.js";

export declare namespace Drive {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

export class Drive {
    protected readonly _options: Drive.Options;

    constructor(_options: Drive.Options = {}) {
        this._options = _options;
    }

    /**
     * Upload one or more files to Drive.
     *
     * - `files`: the file uploads (multipart)
     * - `metadata`: a JSON string containing a list of per-file metadata dicts,
     *   positionally aligned with `files`. Each dict may contain:
     *     - `path`   — fully qualified destination path (takes precedence)
     *     - `folder` — destination folder
     *     - `name`   — destination filename
     *
     * Resolution logic for each file at index i:
     * - If path is provided, use it as the fully qualified path
     * - Else if folder and name are provided, combine as {folder}/{name}
     * - Else if folder is provided, combine as {folder}/{upload_filename}
     * - Else if name is provided, use /{name} (root)
     * - Else fall back to None (domain default behavior)
     *
     * @param {Scout.BodySdkDriveUploadDriveUploadPost} request
     * @param {Drive.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Scout.UnprocessableEntityError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.drive.upload({
     *         files: [fs.createReadStream("/path/to/your/file")]
     *     })
     */
    public upload(
        request: Scout.BodySdkDriveUploadDriveUploadPost,
        requestOptions?: Drive.RequestOptions,
    ): core.HttpResponsePromise<Scout.SrcAppHttpRoutesDriveSdkDriveUploadResponse> {
        return core.HttpResponsePromise.fromPromise(this.__upload(request, requestOptions));
    }

    private async __upload(
        request: Scout.BodySdkDriveUploadDriveUploadPost,
        requestOptions?: Drive.RequestOptions,
    ): Promise<core.WithRawResponse<Scout.SrcAppHttpRoutesDriveSdkDriveUploadResponse>> {
        const _request = await core.newFormData();
        for (const _file of request.files) {
            await _request.appendFile("files", _file);
        }

        if (request.metadata != null) {
            _request.append("metadata", request.metadata);
        }

        const _maybeEncodedRequest = await _request.getRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                Authorization: await this._getAuthorizationHeader(),
                ..._maybeEncodedRequest.headers,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ScoutEnvironment.Prod,
                "drive/upload",
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return {
                data: _response.body as Scout.SrcAppHttpRoutesDriveSdkDriveUploadResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Scout.UnprocessableEntityError(
                        _response.error.body as Scout.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ScoutError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.ScoutError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.ScoutTimeoutError("Timeout exceeded when calling POST /drive/upload.");
            case "unknown":
                throw new errors.ScoutError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * Download a single file from Drive.
     *
     * Provide one of the following to identify the file:
     * - `path`: fully qualified path (e.g., '/foo/bar/hello.txt')
     * - `name` + `folder`: file name within a specific folder (e.g., name='hello.txt', folder='/foo/bar')
     *
     * Returns the file content as a streaming binary response.
     * @throws {@link Scout.UnprocessableEntityError}
     */
    public download(
        request: Scout.DriveDownloadRequest = {},
        requestOptions?: Drive.RequestOptions,
    ): core.HttpResponsePromise<core.BinaryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__download(request, requestOptions));
    }

    private async __download(
        request: Scout.DriveDownloadRequest = {},
        requestOptions?: Drive.RequestOptions,
    ): Promise<core.WithRawResponse<core.BinaryResponse>> {
        const { path, name, folder } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (path != null) {
            _queryParams.path = path;
        }

        if (name != null) {
            _queryParams.name = name;
        }

        if (folder != null) {
            _queryParams.folder = folder;
        }

        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({ Authorization: await this._getAuthorizationHeader() }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)<core.BinaryResponse>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.ScoutEnvironment.Prod,
                "drive/download",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            responseType: "binary-response",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new Scout.UnprocessableEntityError(
                        _response.error.body as Scout.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ScoutError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.ScoutError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.ScoutTimeoutError("Timeout exceeded when calling GET /drive/download.");
            case "unknown":
                throw new errors.ScoutError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    protected async _getAuthorizationHeader(): Promise<string> {
        const bearer = (await core.Supplier.get(this._options.apiKey)) ?? process?.env.SCOUT_API_KEY;
        if (bearer == null) {
            throw new errors.ScoutError({
                message:
                    "Please specify a bearer by either passing it in to the constructor or initializing a SCOUT_API_KEY environment variable",
            });
        }

        return `Bearer ${bearer}`;
    }
}
